<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{modalComponentCtrl.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <div ng-transclude></div>
                <div class="modal-footer ">
                    <button type="button " class="btn btn-default " data-dismiss="modal " ng-click="modalComponentCtrl.closeModal()">Close</button>
                    <button type="button " class="btn btn-primary " ng-click="modalComponentCtrl.makeNewTransaction()">Transfer</button>
                </div>
            </div>
        </div>
    </div>
</div>